nav {
  background-color: #232F3E;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-container {
  flex: 1;
  display: flex;
  justify-content: flex-start;
}

#search-input {
  padding: 5px;
  border: none;
  border-radius: 4px;
}



.app-name {
  font-size: 1.5em;
  flex: 2;
  display: flex;
  justify-content: center;
  
}

.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-links li {
  margin-left: 10px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 4px;
}

.nav-links a:hover {
  background-color: #555;
}
