/* Login.css */

html, body {
  height: 100%; /* Ensure the body takes up full height */
  margin: 0; /* Remove default margin */
}

.login-container {
 padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* Center horizontally */
  max-width: 400px;
  max-height: 800px;
  height: 30%;
  margin: auto;
  border: 1px solid #bdbdbd; 
  border-radius: 8px;
  background-color: #ffffff; 
  position: absolute; 
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%); 
}

.login-container h1 {
  text-align: center;
  color: rgb(48, 46, 46);
}

.login-container input {
  background-color: #e0e0e0; /* Light grey background color */
  border: 1px solid #bdbdbd; /* Grey border color */
  padding: 10px;
  margin-bottom: 10px;
  width: calc(100% - 22px); /* Adjust width to fit padding and border */
}

.login-container button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #696c6f; /* Primary color */
  color: white;
  border: none;
  cursor: pointer;
}

.login-container button:hover {
  background-color: #1565c0; /* Darker shade on hover */
}

.snackbar {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: white;
  padding: 10px;
  border-radius: 4px;
}
