/* Signup.css */

.signup-container {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    height: 100vh;
    margin: auto;
  }
  
  .signup-container h2 {
    text-align: center;
    color: rgb(48, 46, 46);
  }
  
  .signup-container input {
    background-color: #e0e0e0; /* Light grey background color */
    border: 1px solid #bdbdbd; /* Grey border color */
    padding: 10px;
    margin-bottom: 10px;
    width: calc(100% - 22px); /* Adjust width to fit padding and border */
  }
  
  .signup-container button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #696c6f; /* Primary color */
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .signup-container button:hover {
    background-color: #1565c0; /* Darker shade on hover */
  }
  