<div class="reset-password-container">
  <h2>Reset Password</h2>
  <form [formGroup]="resetPasswordForm" (ngSubmit)="onResetPasswordSubmit()">
    <div class="form-group">
      <label for="new-password">New Password</label>
      <input type="password" id="new-password" formControlName="password" class="input-field">
      <div *ngIf="resetPasswordForm.get('password')?.invalid && (resetPasswordForm.get('password')?.dirty || resetPasswordForm.get('password')?.touched)">
        <small class="error" *ngIf="resetPasswordForm.get('password')?.hasError('required')">Password is required</small>
        <small class="error" *ngIf="resetPasswordForm.get('password')?.hasError('minlength')">Password must be at least 6 characters long</small>
      </div>
    </div>
    <button type="submit" class="submit-button">Reset Password</button>
  </form>
</div>
